.modal.modal--uploaded#modalUploded
	section.modal__content.modal__content--small
		.modal__main
			.modal__label Файлы были загружены
		footer.modal__footer
			a.modal__footer-link.button.button--close#modalClose(href="#") Закрыть