extends modal-template

block modal-variables
	- var modalId = 'modalUploded'
	- var modalClass = 'modal--uploaded'
	- var header = false
	
block modal-content
	.modal__label Файлы были загружены

block modal-content-footer
	a.modal__footer-link.button.button--close#modalClose(href="#") Закрыть
			