extends modal-template

block modal-variables
	- var modalId = 'modalAddPhotos'
	- var modalClass = 'modal--add-photos'
	- var header = true
	- var heading = 'Добавить фотографии'

block modal-content
	.modal__album-title
		p.modal__label Название
		h4.modal__text.modal__album-heading Как я провел лето
	form.dropzone#dropzone(method="post")
		.dropzone__add
			i.dropzone__icon.icon-cam
			.dropzone__text.modal__text 
				span Перетащите фото сюда или
				label.dropzone__label
					.button.button--cancel
						span выберите файл
						input.dropzone__input(type="file" multiple="multiple" name="image-files" accept="image/jpeg,image/png")
		.dropzone__files
			ul.dropzone__files-list
				- var n = 6;
				- for (var i=1; i<=n; i++)
					li.dropzone__files-item
						a.dropzone__files-remove(href="#")
	p.modal__error Выбран неверный формат изображений. Попробуйте снова

block modal-content-footer
	a.modal__footer-link.button.button--confirm#modalAlbumSave(href="#") Сохранить
	a.modal__footer-link.button.button--cancel#modalAlbumCancel(href="#") Отменить