.footer {
  position: relative;
  font-size: 0;
  box-sizing: border-box;
  padding: 10px 60px;
  width: 100%;
  background-image: url('../img/test-bg_main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-wrap:wrap;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__col-left {
    width: 40%;
    text-align: left;
    font-family: $proximaLt;
    font-size: 16px;
    line-height: 24px;
    color: $lightColor;
    z-index: 10;

    @include tablet {
      width:100%;
      text-align:center;
      order:2;
      padding:5px 0;
    }
  }

  &__col-center {
    width: 10%;
    text-align: center;
    z-index: 10;

    @include tablet {
      width:100%;
      order:1;
      padding:10px 0;
    }
  }

  &__arrow {
    font-size: 21px;
    color: $lightColor;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.8;
    z-index: 10;
    text-decoration: none;

    &:hover {
      opacity: 0.4;
    }

  }

  &__col-right {
    width: 40%;
    text-align: right;
    font-family: $proximaLt;
    font-size: 16px;
    line-height: 24px;
    color: rgba($lightColor, 0.6);
    z-index: 10;

    @include tablet {
      width:100%;
      text-align:center;
      order:3;
      padding:5px 0 10px;
    }
  }

}