.header {
  width: 100%;
  height:300px;
  background-image: url('../img/test-bg_main.jpg');
  background-repeat: no-repeat;
  background-size:cover;

  &-block {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    position:relative;

    &__left {
      width:70%;
      height:240px;
    }

    &__right {
      width:30%;
      height:240px;
    }

    &__bottom {
      width:100%;
      height:60px;
      background-color:rgba(255,255,255,0.9);
    }
  }
}

.user {
  display:flex;
  box-sizing:border-box;
  margin:58px 0 0 90px;

  &__logo {
    margin:0;
    width:124px;
    min-width:124px;
    height:124px;
    background-image: url('../img/default_avatar.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius:50%;
  }

  &__title {
    margin-left:50px;
  }

  &__name {
    font-family: 'Panton', Arial, sans-serif;
    font-size:21px;
    line-height:21px;
    color:#fff;
    margin-bottom:10px;
  }

  &__desc {
    font-family: 'Proxima Nova Lt', Arial, sans-serif;
    font-size:16px;
    line-height:24px;
    color:#fff;
  }
}

.social {
  margin-top:20px;

  &__list {
    padding:0;
    margin:0;
  }

  &__item {
    display:inline-block;
    list-style-type:none;
    margin-right:5px;

    &:last-child {
      margin-right:0;
    }
  }

  &__link {
    display:inline-block;
    height:21px;
    width:21px;
    background-size:cover;
    background-repeat: no-repeat;
    opacity:0.8;

    &:hover {
      opacity:1.0;
    }
    &_vk {
      background-image: url('../img/soc_vk.svg');
    }
    &_fb {
      background-image: url('../img/soc_fb.svg');
    }
    &_twitter {
      background-image: url('../img/soc_twitter.svg');
    }
    &_google {
      background-image: url('../img/social_google.svg');
    }
    &_email {
      background-image: url('../img/soc_email.svg');
    }
  }
}

.menu {
  text-align:right;
  padding:20px 40px 0 0;
  box-sizing:border-box;

  &__button {
    background-color:#fff;
    box-shadow:1px 2px 2px rgba(0, 0, 0, 0.2);
    display:inline-block;
    border-radius:25px 25px 25px 25px;
    font-size:0;
    margin-bottom:10px;
    overflow: hidden;

    &:hover {
      background-color:#28bbf0;
      padding-right:10px;
    }

    &:hover .menu__text {
      width:100px;
    }

    &:hover .menu__button-edit {
      background-image: url('../img/edit_white.svg');
    }

    &:hover .menu__button-logout {
      background-image: url('../img/off_white.svg');
    }

    &:hover .menu__button-home {
      background-image: url('../img/home_white.svg');
    }

    &-icon {
      height: 38px;
      width:38px;
      background-size:60% 60%;
      background-position: center;
      background-repeat: no-repeat;
      display:inline-block;
      border-radius:50%;
      vertical-align:middle;
    }

    &-edit {
      background-image: url('../img/edit_gray.svg');
    }

    &-logout {
      background-image: url('../img/off_gray.svg');
    }

    &-home {
      background-image: url('../img/home_gray.svg');
    }
  }

  &__text {
    display:inline-block;
    line-height:40px;
    font-family: 'Panton', Arial, sans-serif;
    font-size:14px;
    vertical-align:middle;
    width:0;
    transition: width 0.3s;
    color:#fff;
    overflow: hidden;
  }

}

.search {
  text-align:right;
  &__form {
    margin-top:10px;
    display:inline-block;
  }

  &__block {
    font-size:0;
  }

  &__icon {
    display:inline-block;
    height:40px;
    width:45px;
    background-color:#fff;
    background-size:50% 50%;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-image: url('../img/search.svg');
    vertical-align: middle;
    border-radius:25px 0 0 25px;

  }

  &__input {
    width:380px;
    font-family: 'Proxima Nova Lt', Arial, sans-serif;
    font-size:16px;
    line-height:21px;
    color:#323232;
    display:inline-block;
    padding:0;
    border:0;
    height:40px;
    border-radius:0 25px 25px 0;
    vertical-align: middle;
    margin-right:60px;

    &:focus {
      outline: 0;
    }
  }
}

// ниже находятся дополнительные стили для страницы Мои альбомы

.user-mini {
  margin:20px 0 0 90px;
  font-size:0;
    &__logo {
      display:inline-block;
      height:55px;
      width:55px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../img/default_avatar.jpg');
      border-radius: 50%;
      vertical-align: middle;
  }

    &__name {
      display:inline-block;
      margin-left:20px;
      font-family: 'Panton', Arial, sans-serif;
      font-size:16px;
      line-height:21px;
      color:#fff;
      vertical-align: middle;
    }
}

.albums-header {
  position:absolute;
  top:70px;
  left:50%;
  width:740px;
  transform: translate(-50%, 0);
  text-align:center;

  &__title {
    font-family: 'Proxima Nova Semibold', Arial, sans-serif;
    font-size:21px;
    line-height:24px;
    color:#fff;
  }

  &__desc {
    margin-top:10px;
    font-family: 'Proxima Nova Lt', Arial, sans-serif;
    font-size:16px;
    line-height:24px;
    color: rgba(255,255,255,0.8);
  }
}

.albums-stat {

  &__list {
    margin:0;
    padding:0;
    font-size:0;
    text-align:center;
  }

  &__item {
    list-style-type: none;
    display:inline-block;
    margin-right:45px;

    &:last-child {
      margin-right:0;
    }
  }

  &__count {
    font-family: 'Panton', Arial, sans-serif;
    font-size:16px;
    line-height:60px;
    color:#323232;
    display:inline-block;
    vertical-align: middle;
  }

  &__text {
    margin-left:10px;
    font-family: 'Proxima Nova Semibold', Arial, sans-serif;
    font-size:16px;
    line-height:60px;
    color:#323232;
    display:inline-block;
    vertical-align: middle;
  }
}




