.photos {
  width:100%;
  padding:60px 60px 40px;
  box-sizing: border-box;

  &__list {
    margin:30px 0 0 -20px;
    padding:0;
    width:calc(100%+20px);
    font-size:0;
  }

  &__item {
    margin:0 0 20px 20px;
    width:calc(100%/3 - 20px);
    list-style-type:none;
    display:inline-block;
  }

  &__image {
    width:100%;
    height:254px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/new_content_image.jpg');
    border-radius:5px 5px 0 0;
    position:relative;
    cursor:pointer;

    &:hover .photos__image-loupe {
      animation: bounceIn 0.4s forwards ease-in-out;;
    }

    &-loupe {
      opacity:0;
      border-radius:5px 5px 0 0;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:rgba(0,0,0,0.6);
      background-size:15% 15%;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('../img/loupe.svg');
    }
  }

  &__desc {
    width:100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    display: flex;
    flex-wrap: wrap;
    border-radius:0 0 5px 5px;
  }

  &__author-ava {
    width: 50px;
    height:50px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/default_avatar.jpg');
    border-radius: 50%;
    margin:20px 0 0 20px;

  }
  &__info {
    width:60%;
    margin:20px 0 0 20px;
  }

  &__title {
    font-family: 'Proxima Nova Lt', Arial, sans-serif;
    font-size:16px;
    line-height:24px;
    color:#323232;
  }

  &__stat {
    width:100%;
    display: inline-block;
    margin:10px 0 20px 0;

    &--album {
      margin:0;
      position:absolute;
      left:20px;
      bottom:20px;
    }

    &-text {
      font-family: 'Panton', Arial, sans-serif;
      font-size:16px;
      line-height:24px;
      color:#323232;
      display:inline-block;
      vertical-align: middle;
      margin-left:5px;

      &--white {
        color:#fff;
      }
    }

    &-icon {
      height:17px;
      width:20px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      display:inline-block;
      vertical-align: middle;
      opacity:0.15;

      &_comments {
        background-image: url('../img/comments.svg');
        &--white {
          opacity:1;
          background-image: url('../img/comments_white.svg');
        }
      }

      &_likes {
        background-image: url('../img/like.svg');
        margin-left: 15px;
        &--white {
          margin-left: 15px;
          opacity:1;
          background-image: url('../img/like_white.svg');
        }
      }
    }
  }

  &__footer {
    background-color:#f6f6f6;
    width:100%;
    height:40px;
    display:flex;
    justify-content:flex-end;
    align-items: center;

    &--album {
      justify-content: space-between;
    }

    &-icon {
      display:block;
      height:18px;
      width:20px;
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../img/album.svg');
      opacity:0.15;
    }

    &-text {
      display:block;
      font-family: 'Proxima Nova Semibold', Arial, sans-serif;
      font-size:16px;
      line-height:40px;
      color:#323232;
      margin:0 20px 0 10px;
    }
  }

  &__edit-icon {
    display:inline-block;
    height:20px;
    width:20px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/edit.svg');
    vertical-align:middle;
    opacity:0.15;
    cursor:pointer;
    margin-left:15px;

    &:hover {
      opacity:0.5;
    }
  }
}


.page-button {
  display:block;
  height: 40px;
  width:130px;
  text-align:center;
  margin:20px auto 0;
  font-family: 'Panton', Arial, sans-serif;
  font-size:14px;
  line-height:40px;
  color:#28bbf0;
  border:1px solid #28bbf0;
  border-radius:25px;
  text-decoration: none;
  &:hover {
    color:#fff;
    background-color:#28bbf0;
  }
}

.page-title {
  font-family: 'Panton', Arial, sans-serif;
  font-size:42px;
  line-height:42px;
  color:#323232;
  padding:0;
  margin:0 0 30px 0;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }

  40% {
    transform: scale3d(.92, .92, .92);
  }

  60% {
    opacity: 0.6;
    transform: scale3d(1, 1, 1);
  }

  80% {
    transform: scale3d(.95, .95, .95);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

//ниже находятся дополнительные стили для страницы Результаты поиска

.search-text {
  font-family: 'Proxima Nova Semibold', Arial, sans-serif;
  font-size:21px;
  line-height:21px;
  color:#323232;
}
