.photos {
    width: 100%;
    padding: 60px 60px 40px;
    box-sizing: border-box;
    text-align: center;

    &__title {
        font-family: $panton;
        @include font (42px, 42px, $darkColor, normal)
        padding: 0;
        margin: 0 0 30px 0;
        text-align: left;
    }

    &__list {
        margin: 30px 0 -20px -20px;
        padding: 0;
        width: calc(100%+20px);
        font-size: 0;
        text-align: left;
    }

    &__item {
        margin: 0 0 20px 20px;
        width: calc(100%/3 - 20px);
        list-style-type: none;
        display: inline-block;
    }

    &__image-link {
        width: 100%;
        height: 254px;
        display: block;
        position: relative;
        overflow: hidden;
        border-radius:5px 5px 0 0;

        &:before {
            content: "";
            display: block;
            background-color: #000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
        }

        &:after {
            content: "\e90d";
            font-family: icomoon;
            font-size: 10px;
            color: $lightColor;
            @include center;
            transition: $transition;
            z-index: -100;
        }

        &:hover {
            &:before {
                opacity: 0.6;
                z-index: 100;
            }

            &:after {
                font-size: 40px;
                z-index: 110;
            }

        }

    }

    &__image-img {
        height: 100%;
        @include centerX;
    }

    &__desc {
        width: 100%;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        display: flex;
    }

    &__author-link {
        width: 50px;
        height: 50px;
        min-width: 50px;
        max-width: 50px;
        overflow: hidden;
        margin: 20px 0 0 20px;
        position: relative;
        border-radius:50%;

        &:before {
            @extend .photos__image-link:before;
            border-radius:50%;
        }

        &:after {
            @extend .photos__image-link:after;
            content: "\e90e";
            font-size: 0;
        }

        &:hover {
            @extend .photos__image-link:hover;

            &:after {
                font-size: 5px;
                z-index: 110;
            }

        }

    }

    &__author-img {
        height: 100%;
        @include centerX;
        border-radius:50%;
    }

    &__info {
        margin: 20px;
    }

    &__photo-link {
        text-decoration: none;
    }

    &__photo-title {
        font-family: $proximaLt;
        @include font (16px, 24px, $darkColor, normal);
        margin: 0;
        padding: 0;
        transition: $transition;

        &:hover {
            color: $accentColor;
        }

    }

    &__stat {
        width: 100%;
        margin: 5px 0 0 0;

        &--album {
          position:absolute;
          left:20px;
          bottom:20px;

          .photos__stat-text {
            color:$lightColor;

            &:before {
              color:$lightColor;
            }
          }
        }

        &-text {
            font-family: $panton !important;
            @include font (16px, 24px, $darkColor, normal);
            margin-right: 5px;
            position: relative;
            padding-left: 30px;
            margin-right: 15px;

            &--album {
              color:#fff;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &:before {
                font-family: icomoon !important;
                @include font (16px, 24px, rgba($darkColor, .2), normal);
                position: absolute;
                top: -4px;
                left: 0;
            }

        }

    }

    &__footer {
        background-color: #f6f6f6;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 5px 5px;
        overflow: hidden;

        &--album {
          justify-content: space-between;

          .photos__photo-title {
            margin-right:10px;
            &:hover {
              color:$darkColor;
            }
          }
        }
    }

    &__photo-edit {
        text-decoration: none;
        position: relative;
        margin-left:15px;


        &:before {
          content: "\e908";
          font-family: icomoon;
          @include font (20px, 40px, rgba($darkColor, .2), normal);
          position: absolute;
          top: -20px;
          left: 0;
          transition: $transition;
          cursor:pointer;
        }

        &:hover {
          &:before,
          .photos__album-title {
            color: $accentColor;
          }

        }
    }

    &__album-link {
        text-decoration: none;
        position: relative;
        padding-left: 20px;

        &:before {
            content: "\e901";
            font-family: icomoon;
            @include font (16px, 40px, rgba($darkColor, .2), normal);
            position: absolute;
            top: -1px;
            left: 0;
            transition: $transition;
        }

        &:hover {
            &:before,
            .photos__album-title {
                color: $accentColor;
            }

        }

    }

    &__album-title {
        font-family: $proximaSb;
        @include font (16px, 40px, $darkColor, normal);
        margin: 0 20px 0 10px;
        transition: $transition;
    }

    .button {
        margin-top: 20px;
    }

}

//ниже находятся дополнительные стили для страницы Результаты поиска
.search-text {
    font-family: $proximaSb;
    @include font (21px, 21px, $darkColor, normal)
}