.button {
	height: 40px;
	padding: 10px 20px;
	border-radius: 20px;
	color: $lightColor;
	text-decoration: none;
	display: inline-block;
	font-family: panton;
	font-size: 14px;
	line-height: 22px;
	transition: $transition;
}

.button--confirm {
	background-color: $blueColor;
}

.button--cancel {
	color: $blueColor;
	padding: 0;
	height: auto;
	margin: 10px 20px;
	font-family: $proximaSb;
	font-size: 16px;
}

.button--red {
	background-color: $redColor;
}

.button--delete {
	background-color: $redColor;
	position: relative;
	padding-left: 42px;

	&:before {
		content: '\e907';
		font-family: icomoon;
		font-size: 16px;
		position: absolute;
		left: 20px;
		top: 8px;
	}

}

.button--like {
	background-color: $redColor;

	&:before {
		content: '\e910';
		font-family: icomoon;
		margin-right: 5px;
	}

}

.button--add,
.button--close,
.button--more {
	color: $blueColor;
	border: 1px solid $blueColor;
	line-height: 18px;

	&:hover {
		color: $lightColor;
		background-color: $blueColor;
		border: 1px solid $blueColor;
	}

}

.button--menu {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: $lightColor;
	border-radius: 20px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	overflow: hidden;
	position: relative;

	&:before {
		font-family: icomoon;
		color: $grayColor;
		font-size: 20px;
		display: inline-block;
		width: 20px;
		text-align: center;
		position: absolute;
		left: 10px;
	}

	&:hover {
		background-color: $blueColor;
		width: auto;
		padding-left: 40px;

		&:before {
			color: $lightColor;
		}

	}

	&.button--home {
		&:before {
			content: '\e90b'; // Берем значение из файла стилей шрифта Icomoon /source/style/fonts/icons.scss
		}

	}

	&.button--edit {
		&:before {
			content: '\e908';
		}

	}

	&.button--logout {
		&:before {
			content: '\e911';
		}

	}

}