.welcome {
	width: 100%;
	margin: auto;
	min-height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.welcome__flipper {
	height: 100%;
	width: 100%;
}

.welcome__form-wrapper {
	width: 100%;
	max-width: 280px;
	margin: 0 auto;
	background-color: $lightColor;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.login-form__input-wrap {
	display: flex;
	width: 100%;
	position: relative;
	border-bottom: 1px solid $greyColor;
}

.login-form__input-before {
	width: 40px;
	height: 40px;
	position: relative;

	&:before {
		font-family: icomoon;
		@include font(16px, 16px, $grayColor, normal);
		display: block;
		@include centerY;
		right: 0;
	}

}

.login-form__input-before--name {
	&:before {
		content: '\e90f';
	}

}

.login-form__input-before--email {
	&:before {
		content: '\e909';
		font-size: 14px;
		top: 48%;
	}

}

.login-form__input-before--password {
	&:before {
		content: '\e912';
		font-size: 18px;
		top: 46%;
	}

}

.login-form__input-text {
	height: 40px;
	padding: 0 10px;
	flex-grow: 1;
	border: none;
	z-index: 10;

    &:focus {
      outline:none;
    }

}

.login-form__links-wrap {
    width: 100%;
    padding: 5px 20px;

}

.login-form__link {
	font-family: $proximaSb;
	@include link(none, 14px, 24px, normal, $accentColor, $accentColorHover, $accentColorActive);
	transition: $transition;
}

.login-form {
	.button {
		width: 100%;
	    text-align: center;
	    display: block;		
		margin-top: 10px;
	}
}

.login-form__text {
	font-family: $proximaLt;
	@include font(14px, 14px, $darkColor, normal);
	margin: 5px 0;
}

.login-form__text--centered {
	text-align: center;
}
