* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  height:100%;
  width:100%;
  margin: 0;
}

.clearfix::before, .clearfix::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
