* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

.wrapper {
    position: relative;
}

html {

  @include desktop {
    font-size:15px;
  }

  @include laptop {
    font-size:14px;
  }

  @include tablet {
    font-size:13px;
  }

}

.container {
    width: 1580px;
    margin: 0 auto;

    @include hd {
      width:1180px;
    }

    @include desktop {
      width:960px;
    }

    @include laptop {
      width:712px;
    }

    @include custom {
      width:480px;
    }

    @include phone {
      width:80%;
    }

}

.clearfix::before,
.clearfix::after {
    content: "";
    width: 100%;
    clear: both;
    display: block;
}

.separator {
    width: auto;
    height: 1px;
    margin: 40px -20px;
    background-color: $grayColor;
}

// Прибиваем футер
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    margin-top: auto;
}