// Colors
$lightColor: #ffffff;
$darkColor: #323232;
$greyColor: rgba($darkColor, .2);
$buttonColor: #28bbf0;
$bgLightColor: #f1f1f1;
$bgErrorColor: #ffe3e3;
$redColor: #ee4634;
$blueColor: #28bbf0;
$grayColor: #d1d1d1;
$accentColor: $blueColor;

// Hover/Active Colors
$accentColorHover: darken($accentColor, 10%);
$accentColorActive: darken($accentColor, 20%);

//Others
$transition: all ease .3s;

// Fonts
$panton: 'Panton', Arial, sans-serif;
$proximaIt: 'Proxima Nova It', Arial, sans-serif;
$proximaLt: 'Proxima Nova Lt', Arial, sans-serif;
$proximaSb: 'Proxima Nova Semibold', Arial, sans-serif;

// Media queries
$hd-width: 1800px;
$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$phone-width: 480px;