// Colors
$lightColor: #ffffff;
$darkColor: ;
$greyColor: lightgrey;
$buttonColor: #28bbf0;
$accentColor: ;
$bgLightColor: #f1f1f1;
$bgErrorColor: #ffe3e3;
$redColor: #ee4634;
$blueColor: #28bbf0;
$grayColor: #d1d1d1;

// Welcome Colors
$welcomeOverlayColor: rgba(#000000, 0.15);
$welcomeBorderColor: $greyColor;
$welcomeLinkColor: deepskyblue;

// Fonts
$panton: 'Panton', Arial, sans-serif;
$proximaIt: 'Proxima Nova It', Arial, sans-serif;
$proximaLt: 'Proxima Nova Lt', Arial, sans-serif;
$proximaSb: 'Proxima Nova Semibold', Arial, sans-serif;

// Media queries
$hd-width: 1800px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 414px;