extends ../_template

block variables
    - var title = 'Альбом'

block content
    include ../_blocks/_header_album
    include ../_blocks/_photos_album
    include ../_blocks/_footer
    include ../_modals/modal-add-photos
    include ../_modals/modal-edit-photo
    include ../_modals/modal-files-uploaded
