extends ../_template

block variables
  - var title = 'Главная страница'

block content
    include ../_blocks/_header_main
    include ../_blocks/_slider
    include ../_blocks/_new-photos_main
    include ../_blocks/_albums_main
    include ../_blocks/_footer
