div.albums
    .container    
        h1.page-title Мои альбомы
        ul.albums__list
            li.albums__item
                a(class="albums__link" href="album.html")
                    div.albums__info
                        div.albums__info-title Фотографии природы, леса, енотов и оленей...
                        div.albums__info-count 18 фотографий
                    div.albums__image
                    div.albums__desc
                        div.albums__edit-icon
                        div.albums__title Лесной выезд
            li.albums__item
                a(class="albums__link" href="album.html")
                    div.albums__info
                        div.albums__info-title Фотографии природы, леса, енотов и оленей...
                        div.albums__info-count 18 фотографий
                    div.albums__image
                    div.albums__desc
                        div.albums__edit-icon
                        div.albums__title Лесной выезд
            li.albums__item
                a(class="albums__link" href="album.html")
                    div.albums__info
                        div.albums__info-title Фотографии природы, леса, енотов и оленей...
                        div.albums__info-count 18 фотографий
                    div.albums__image
                    div.albums__desc
                        div.albums__edit-icon
                        div.albums__title Лесной выезд
            li.albums__item
                a(class="albums__link" href="album.html")
                    div.albums__info
                        div.albums__info-title Фотографии природы, леса, енотов и оленей...
                        div.albums__info-count 18 фотографий
                    div.albums__image
                    div.albums__desc
                        div.albums__edit-icon
                        div.albums__title Лесной выезд
            li.albums__item
                a(class="albums__link" href="album.html")
                    div.albums__info
                        div.albums__info-title Фотографии природы, леса, енотов и оленей...
                        div.albums__info-count 18 фотографий
                    div.albums__image
                    div.albums__desc
                        div.albums__edit-icon
                        div.albums__title Лесной выезд