header.header
    div.header-block
        div.header-block__left
            div.user-mini
                div.user-mini__logo
                div.user-mini__name Имя Фамилия
        div.header-block__right
            aside.menu
                a.menu__button(href="index.html")
                    div.menu__button-icon.menu__button-home
                    div.menu__text Вернуться
                br
                a.menu__button(href="#")
                    div.menu__button-icon.menu__button-edit
                    div.menu__text Редактировать
        div.albums-header
            div.albums-header__title Лесные прогулки
            div.albums-header__desc.
                                    Фотографии природы, леса, енотов и оленей. Как прекрасно сойти на
                                    дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил
                                    бродить влюбленным в тишину. Запах меда, лесных оленей и енотов будоражит
                                    утро
        div.header-block__bottom
            div.albums-stat
                ul.albums-stat__list
                    li.albums-stat__item
                        div.albums-stat__count 18
                        div.albums-stat__text Фотографий
                    li.albums-stat__item
                        div.albums-stat__count 12
                        div.albums-stat__text Лайков
                    li.albums-stat__item
                        div.albums-stat__count 4
                        div.albums-stat__text Комментария
