header.header.header--main
    .header__main
        .user
            .user__logo
            .user__title
                h3.user__name Имя Фамилия
                h5.user__desc.
                    Я веб-разработчик. Мне 24 года.
                    Люблю путешествия, кодинг, фриланс и активный отдых
                include socials
        .controls
            a.button.button--menu.button--home(href="/") Вернуться
    .header__bottom
        .search
            form.search__form
                label.search__block
                    .search__icon.icon-search
                    input.search__input(type="text", name="login", placeholder="Исследовать мир")