header.header
    div.header-block
        div.header-block__left
            div.user
                div.user__logo
                div.user__title
                    div.user__name Имя Фамилия
                    div.user__desc.
                        Я веб-разработчик. Мне 24 года.
                        Люблю путешествия, кодинг, фриланс и активный отдых
                    div.social
                        ul.social__list
                            li.social__item
                                a.social__link.social__link_vk(href="http://vk.com/", target="_blank")
                            li.social__item
                                a.social__link.social__link_fb(href="http://facebook.com", target="_blank")
                            li.social__item
                                a.social__link.social__link_twitter(href="http://twitter.com", target="_blank")
                            li.social__item
                                a.social__link.social__link_google(href="http://google.com", target="_blank")
                            li.social__item
                                a.social__link.social__link_email(href="http://gmail.com", target="_blank")
        div.header-block__right
            aside.menu
                a.menu__button(href="#")
                    div.menu__button-icon.menu__button-edit
                    div.menu__text Редактировать
                br
                a.menu__button(href="#")
                    div.menu__button-icon.menu__button-logout
                    div.menu__text Выйти
        div.header-block__bottom
            div.search
                form.search__form
                    label.search__block
                        div.search__icon
                        input.search__input(type="text", name="login", placeholder="Исследовать мир")