
div.new-content

            h1.page-title Новое в мире
            ul.new-content__list
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде

            a.page-button(href="#") Показать еще

div.my-albums
        h1.page-title Мои альбомы
        ul.my-albums__list
            li.my-albums__item
                div.my-albums__info
                    div.my-albums__info-title Фотографии природы, леса, енотов и оленей...
                    div.my-albums__info-count 18 фотографий
                div.my-albums__image
                div.my-albums__desc
                    a.my-albums__edit-icon(href="#")
                    div.my-albums__title Лесной выезд
            li.my-albums__item
                div.my-albums__info
                    div.my-albums__info-title Фотографии природы, леса, енотов и оленей...
                    div.my-albums__info-count 18 фотографий
                div.my-albums__image
                div.my-albums__desc
                    a.my-albums__edit-icon(href="#")
                    div.my-albums__title Лесной выезд
            li.my-albums__item
                div.my-albums__info
                    div.my-albums__info-title Фотографии природы, леса, енотов и оленей...
                    div.my-albums__info-count 18 фотографий
                div.my-albums__image
                div.my-albums__desc
                    a.my-albums__edit-icon(href="#")
                    div.my-albums__title Лесной выезд
            li.my-albums__item
                div.my-albums__info
                    div.my-albums__info-title Фотографии природы, леса, енотов и оленей...
                    div.my-albums__info-count 18 фотографий
                div.my-albums__image
                div.my-albums__desc
                    a.my-albums__edit-icon(href="#")
                    div.my-albums__title Лесной выезд
            li.my-albums__item
                div.my-albums__info
                    div.my-albums__info-title Фотографии природы, леса, енотов и оленей...
                    div.my-albums__info-count 18 фотографий
                div.my-albums__image
                div.my-albums__desc
                    a.my-albums__edit-icon(href="#")
                    div.my-albums__title Лесной выезд
