div.my-albums
    ul.my-albums__list
        li.my-albums__item
            div.my-albums__image.my-albums__image-hover
                div.my-albums__image-loupe
                div.my-albums__stat
                    div.my-albums__stat-icon.my-albums__stat-icon_comments
                    div.my-albums__stat-text 9
                    div.my-albums__stat-icon.my-albums__stat-icon_likes
                    div.my-albums__stat-text 15
            div.my-albums__desc
                a.my-albums__edit-icon(href="#")
                div.my-albums__title Лесной выезд
        li.my-albums__item
            div.my-albums__image.my-albums__image-hover
                div.my-albums__image-loupe
                div.my-albums__stat
                    div.my-albums__stat-icon.my-albums__stat-icon_comments
                    div.my-albums__stat-text 9
                    div.my-albums__stat-icon.my-albums__stat-icon_likes
                    div.my-albums__stat-text 15
            div.my-albums__desc
                a.my-albums__edit-icon(href="#")
                div.my-albums__title Лесной выезд
        li.my-albums__item
            div.my-albums__image.my-albums__image-hover
                div.my-albums__image-loupe
                div.my-albums__stat
                    div.my-albums__stat-icon.my-albums__stat-icon_comments
                    div.my-albums__stat-text 9
                    div.my-albums__stat-icon.my-albums__stat-icon_likes
                    div.my-albums__stat-text 15
            div.my-albums__desc
                a.my-albums__edit-icon(href="#")
                div.my-albums__title Лесной выезд
        li.my-albums__item
            div.my-albums__image.my-albums__image-hover
                div.my-albums__image-loupe
                div.my-albums__stat
                    div.my-albums__stat-icon.my-albums__stat-icon_comments
                    div.my-albums__stat-text 9
                    div.my-albums__stat-icon.my-albums__stat-icon_likes
                    div.my-albums__stat-text 15
            div.my-albums__desc
                a.my-albums__edit-icon(href="#")
                div.my-albums__title Лесной выезд
        li.my-albums__item
            div.my-albums__image.my-albums__image-hover
                div.my-albums__image-loupe
                div.my-albums__stat
                    div.my-albums__stat-icon.my-albums__stat-icon_comments
                    div.my-albums__stat-text 9
                    div.my-albums__stat-icon.my-albums__stat-icon_likes
                    div.my-albums__stat-text 15
            div.my-albums__desc
                a.my-albums__edit-icon(href="#")
                div.my-albums__title Лесной выезд
