div.new-content
            div.search-text По Вашему запросу "Природа" найден(о) 5 результатов
            ul.new-content__list
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде
                li.new-content__item
                    div.new-content__image
                        div.new-content__image-loupe
                    div.new-content__desc
                        div.new-content__author-ava
                        div.new-content__info
                            div.new-content__title Путешествие на лодке по озеру
                            div.new-content__stat
                                div.new-content__stat-icon.new-content__stat-icon_comments
                                div.new-content__stat-text 9
                                div.new-content__stat-icon.new-content__stat-icon_likes
                                div.new-content__stat-text 15
                        div.new-content__album
                            div.new-content__album-icon
                            div.new-content__album-text Прогулки по воде