div.photos
    ul.photos__list
        li.photos__item
            div.photos__image
                div.photos__image-loupe
                div.photos__stat.photos__stat--album
                    div.photos__stat-icon.photos__stat-icon_comments--white
                    div.photos__stat-text.photos__stat-text--white 9
                    div.photos__stat-icon.photos__stat-icon_likes--white
                    div.photos__stat-text.photos__stat-text--white 15
            div.photos__desc
                div.photos__footer.photos__footer--album
                    div.photos__edit-icon
                    div.photos__footer-text Лесной выезд
        li.photos__item
            div.photos__image
                div.photos__image-loupe
                div.photos__stat.photos__stat--album
                    div.photos__stat-icon.photos__stat-icon_comments--white
                    div.photos__stat-text.photos__stat-text--white 9
                    div.photos__stat-icon.photos__stat-icon_likes--white
                    div.photos__stat-text.photos__stat-text--white 15
            div.photos__desc
                div.photos__footer.photos__footer--album
                    div.photos__edit-icon
                    div.photos__footer-text Лесной выезд
        li.photos__item
            div.photos__image
                div.photos__image-loupe
                div.photos__stat.photos__stat--album
                    div.photos__stat-icon.photos__stat-icon_comments--white
                    div.photos__stat-text.photos__stat-text--white 9
                    div.photos__stat-icon.photos__stat-icon_likes--white
                    div.photos__stat-text.photos__stat-text--white 15
            div.photos__desc
                div.photos__footer.photos__footer--album
                    div.photos__edit-icon
                    div.photos__footer-text Лесной выезд
        li.photos__item
            div.photos__image
                div.photos__image-loupe
                div.photos__stat.photos__stat--album
                    div.photos__stat-icon.photos__stat-icon_comments--white
                    div.photos__stat-text.photos__stat-text--white 9
                    div.photos__stat-icon.photos__stat-icon_likes--white
                    div.photos__stat-text.photos__stat-text--white 15
            div.photos__desc
                div.photos__footer.photos__footer--album
                    div.photos__edit-icon
                    div.photos__footer-text Лесной выезд