div.photos
            div.search-text По Вашему запросу "Природа" найден(о) 5 результатов
            ul.photos__list
                li.photos__item
                    div.photos__image
                        div.photos__image-loupe
                    div.photos__desc
                        div.photos__author-ava
                        div.photos__info
                            div.photos__title Путешествие на лодке по озеру
                            div.photos__stat
                                div.photos__stat-icon.photos__stat-icon_comments
                                div.photos__stat-text 9
                                div.photos__stat-icon.photos__stat-icon_likes
                                div.photos__stat-text 15
                        div.photos__footer
                            div.photos__footer-icon
                            div.photos__footer-text Прогулки по воде
                li.photos__item
                    div.photos__image
                        div.photos__image-loupe
                    div.photos__desc
                        div.photos__author-ava
                        div.photos__info
                            div.photos__title Путешествие на лодке по озеру
                            div.photos__stat
                                div.photos__stat-icon.photos__stat-icon_comments
                                div.photos__stat-text 9
                                div.photos__stat-icon.photos__stat-icon_likes
                                div.photos__stat-text 15
                        div.photos__footer
                            div.photos__footer-icon
                            div.photos__footer-text Прогулки по воде
                li.photos__item
                    div.photos__image
                        div.photos__image-loupe
                    div.photos__desc
                        div.photos__author-ava
                        div.photos__info
                            div.photos__title Путешествие на лодке по озеру
                            div.photos__stat
                                div.photos__stat-icon.photos__stat-icon_comments
                                div.photos__stat-text 9
                                div.photos__stat-icon.photos__stat-icon_likes
                                div.photos__stat-text 15
                        div.photos__footer
                            div.photos__footer-icon
                            div.photos__footer-text Прогулки по воде
                li.photos__item
                    div.photos__image
                        div.photos__image-loupe
                    div.photos__desc
                        div.photos__author-ava
                        div.photos__info
                            div.photos__title Путешествие на лодке по озеру
                            div.photos__stat
                                div.photos__stat-icon.photos__stat-icon_comments
                                div.photos__stat-text 9
                                div.photos__stat-icon.photos__stat-icon_likes
                                div.photos__stat-text 15
                        div.photos__footer
                            div.photos__footer-icon
                            div.photos__footer-text Прогулки по воде
                li.photos__item
                    div.photos__image
                        div.photos__image-loupe
                    div.photos__desc
                        div.photos__author-ava
                        div.photos__info
                            div.photos__title Путешествие на лодке по озеру
                            div.photos__stat
                                div.photos__stat-icon.photos__stat-icon_comments
                                div.photos__stat-text 9
                                div.photos__stat-icon.photos__stat-icon_likes
                                div.photos__stat-text 15
                        div.photos__footer
                            div.photos__footer-icon
                            div.photos__footer-text Прогулки по воде