div.slider-modal
    div.slider
        div.slider__close-button
            a.slider__close-button-block(href="#")
        div.slider__prev-button
            a.slider__prev-button-block(href="#")
        div.slider__next-button
            a.slider__next-button-block(href="#")
        ul.slider__list
            li.slider__item
                div.slider__image
                div.slider__image-info
                    div.user-mini.user-mini--photo
                        div.user-mini__logo.user-mini__logo--photo
                        div.user-mini__name.user-mini__name--photo Имя Фамилия
                    a.slider__image-likes(href="")
                        span.slider__image-likes-text 0
                    div.slider__desc
                        div.slider__image-title Путешествие на речном трамвайчике
                        div.slider__image-comment.
                                                    Мы отправились в путешествие 2 дня назад, но уже сейчас такое ощущение, что
                                                    мы посмотрели целый новый мир. Далее будет еще одно описательное предложение.
                div.slider__comments
                        a.slider__comments-title(href="#") Комментарии
                            span.slider__comments-icon
                        div.slider__comments-wrapper
                            div.slider__add-comment-block
                                div.user-mini.user-mini--comments
                                    div.user-mini__logo
                                    div.user-mini__name.user-mini__name--photo Имя фамилия
                                        form.slider__add-comment-form
                                            input.slider__add-comment-input(type="text", name="comment", placeholder="Добавить комментарий")
                                            button.slider__add-comment-button(type="submit") Добавить
                            ul.slider__comment-block
                                - for (var x = 0; x < 3; x++)
                                    li.slider__comment-item
                                        div.user-mini.user-mini--comments
                                            div.user-mini__logo
                                            div.user-mini__name.user-mini__name--photo Имя фамилия
                                                 div.slider__comment-text.
                                                                        Эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
                                                                        Я совсем один и блаженствую в здешнем краю, словно созданном для таких,
                                                                        как я. Я так счастлив, мой друг, так упоен ощущением.