@font-face {
    font-family: 'Sansus Webissimo';
    src: local('Sansus Webissimo'), local('SansusWebissimo'), url('../fonts/sansus/sansuswebissimo.woff2') format('woff2'), url('../fonts/sansus/sansuswebissimo.woff') format('woff'), url('../fonts/sansus/sansuswebissimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sansus Webissimo Italic';
    src: local('Sansus Webissimo Italic'), local('Sansus Webissimo Italic'), url('../fonts/sansus/sansuswebissimoitalic.woff2') format('woff2'), url('../fonts/sansus/sansuswebissimoitalic.woff') format('woff'), url('../fonts/sansus/sansuswebissimoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
